.button {
  @include font-default;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  color: $color-text-alt;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-design;
  border: none;
  box-shadow: none;

  &:hover {
    background-color: $color-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $color-green;
  }

  &--grey {
    color: $color-content;
    background-color: $color-bg-alt;

    &:hover {
      background-color: $color-white-five;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background-color: $color-white-five;
    }
  }
}
