.cart-product {
  display: flex;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
    width: 324px;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-left: 38px;
    background-color: $color-bg-alt;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 245px;
  }
}

.cart-product__description {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 21px 0 22px 0;

  @media (min-width: 768px) {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 37px;
  }
}

.cart-product__title {
  @include font-default;
  max-width: 74px;
  margin: 0;
  margin-bottom: 13px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $color-title;
  text-transform: uppercase;
  font-stretch: normal;

  @media (min-width: 768px) {
    max-width: 130px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.cart-product__link {
  @include reset-link;
  display: flex;

  @media (min-width: 768px) {
    align-self: center;
  }

  &--image {
    @media (min-width: 768px) {
      align-items: flex-end;
      height: 208px;
      margin: -82px -37px 0 -38px;
    }
  }
}

.cart-product__image {
  width: 140px;
  height: 144px;
  border: none;

  @media (min-width: 768px) {
    width: 324px;
    height: auto;
  }

  @media (min-width: 1440px) {
    width: 245px;
  }
}


.cart-product__info {
  @include font-alt;
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $color-content;
  font-stretch: normal;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
  }
}

.cart-product__info tbody {
  display: block;
  width: 100%;
}

.cart-product__info tr {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    align-items: center;
    min-height: 32px;
    border-bottom: 1px solid $color-pinkish-grey;
  }
}

.cart-product__info td {
  width: 50%;
}

.cart-product__row :last-child {
  padding-right: 0;
  text-align: end;
}

.cart-product__button {
  width: 100%;
}
