.example {
  color: $color-title;
  background-color: $color-bg-alt;

  @media (min-width: $breakpoint-tablet) {
    background-color: $color-bg;
    background-image: linear-gradient($color-bg 0, $color-bg 600px, rgba(255, 255, 255, 0) 600px, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, $color-bg-alt 0, $color-bg-alt 50%, $color-white-four 50%, $color-white-four 100%);
  }

  @media (min-width: $breakpoint-desktop) {
    background-image: linear-gradient($color-bg 0, $color-bg 217px, rgba(255, 255, 255, 0) 217px, rgba(255, 255, 255, 0) 100%),
      linear-gradient(to right, $color-bg-alt 0, $color-bg-alt 50.01%, $color-white-four 50.01%, $color-white-four 100%);
  }
}

.example__inner {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.example__info {
  @include side-padding;
  margin-bottom: 13px;
  padding-top: 17px;
  padding-bottom: 20px;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 43px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    margin-bottom: 0;
    padding-top: 82px;
    padding-bottom: 80px;
  }
}

.example__title {
  @include font-default;
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 60px;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 64px;
    font-size: 60px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 147px;
  }
}

.example__text {
  @include font-alt;
  margin: 0;
  margin-bottom: 24px;
  padding-right: 5px;
  font-size: 14px;
  line-height: 18px;
  color: $color-content;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 53px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 432px;
    margin-bottom: 67px;
    padding: 0;
  }
}

.example__date {
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-direction: column;
  }
}

.example__result {
  display: flex;

  @media (min-width: $breakpoint-tablet) {
    width: 366px;
  }
}

.example__achievement {
  position: relative;
  width: 124px;
  margin-bottom: 35px;
  text-align: center;
  border: solid 1px $color-pinkish-grey;

  &--left {
    margin-right: auto;
  }

  &--right {
    margin-left: auto;
  }

  @media (min-width: $breakpoint-tablet) {
    width: 162px;
  }
}

.example__achievement-value {
  @include font-default;
  display: block;
  padding: 12px 10px 18px 10px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 15px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__achievement-title {
  @include font-alt;
  position: absolute;
  top: 46px;
  left: 50%;
  display: block;
  max-width: 87px;
  margin-right: -50%;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  color: $color-content;
  text-transform: lowercase;
  background-color: $color-bg-alt;
  transform: translateX(-50%);

  @media (min-width: $breakpoint-tablet) {
    top: 62px;
    max-width: 160px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: $color-bg;
  }

  @media (min-width: $breakpoint-desktop) {
    background-color: $color-bg-alt;
  }
}

.example__cost {
  @include font-default;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: column;
    width: 175px;
    margin-top: 12px;
    font-size: 20px;
    text-align: right;

    span {
      margin-top: 8px;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    width: 430px;
    margin-top: 25px;

    span {
      margin: 0;
      margin-left: 64px;
    }
  }
}
