.extra-catalog__title {
  @include font-default;
  font-size: 24px;
  line-height: 1;
  color: $color-title;
}

.extra-catalog__list {
  @include reset-list;
}

.extra-catalog__bonus {
  position: relative;
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

.extra-catalog__bonus-text {
  @include font-alt;
  position: absolute;
  bottom: 43px;
  left: 60px;
  font-size: 16px;
  line-height: 1.25;
  color: $color-text-alt;
}
