.footer__bottom {
  background-color: $color-bg-alt;
}

.footer__inner {
  @include side-padding;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.footer__developer-link {
  @include font-alt;
  @include reset-link;
  padding: 31px 0;
  font-size: 16px;
  line-height: 1;
  margin-right: auto;
  color: $color-content;

  @media (min-width: $breakpoint-tablet) {
    margin-right: 0;
  }
}

.footer__logo {
  display: flex;
  padding: 39px 10px 31px 10px;
}

.footer__logo-image {
  margin: 0 auto;
}
