.header {
  @include side-padding;
  position: relative;
  display: block;
  border-bottom: 1px solid $color-white-three;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: none;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}
