.logo {
  display: block;
  padding-top: 11px;
  padding-bottom: 15px;
  margin-right: auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 0;
    margin-right: 94px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-right: auto;
  }
}

.logo__image {
  width: 191px;
  height: 39px;

  @media (min-width: $breakpoint-tablet) {
    width: 174px;
    height: 60px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 203px;
  }
}
