.main-catalog {
  @include side-padding;
  padding-top: 20px;

  h1 {
    @include side-padding;
    @include font-default;
    font-size: 36px;
    line-height: 1.67;
    color: $color-title;
    margin: 0;
    margin-bottom: 24px;
  }
}
