.menu {
  @include reset-list;
}

.menu__item {
  border-bottom: 1px solid $white-three;
}

.menu__link {
  @include reset-link;
  @include font-default;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: $title;
  padding: 24px;
  text-transform: uppercase;
  text-align: center;
}
