.nav {
  display: block;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-grow: 0;
    width: 50%;
  }
}
