.nav {
  display: block;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    flex-grow: 0;
  }
}
