.product-line {
  position: relative;
}

.product-line__list {
  @include reset-list;

  @media (min-width: $breakpoint-desktop) {
    display: flex;
  }
}

.product-line__item {
  position: relative;
  padding: 20px 20px 21px 20px;
  margin-bottom: 20px;
  background-color: $color-bg-alt;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-design;
  }

  &--slim {
    .product-line__item-icon {
      position: absolute;
      background-repeat: no-repeat;
      top: 22px;
      left: 30px;
      width: 35px;
      height: 49px;
    }
  }

  &--pro {
    .product-line__item-icon {
      position: absolute;
      background-repeat: no-repeat;
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 76px 52px 62px 52px;
    margin-bottom: 30px;

    &::before {
      top: 92px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    &--slim {
      .product-line__item-icon {
        top: 80px;
        left: auto;
        right: 92px;
        width: 141px;
        height: 194px;
      }
    }

    &--pro {
      .product-line__item-icon {
        top: 135px;
        left: auto;
        right: 28px;
        width: 268px;
        height: 113px;
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    margin-right: 80px;
    margin-bottom: 0;
    width: 570px;

    &::before {
      top: 48px;
      left: 52px;
      width: 100px;
      height: 100px;
    }

    &--slim {
      .product-line__item-icon {
        top: 42px;
        left: 65px;
        width: 71px;
        height: 97px;
      }
    }

    &--pro {
      .product-line__item-icon {
        top: 69px;
        left: 34px;
        width: 134px;
        height: 57px;
      }
    }
  }
}

.product-line__item:last-child {
  margin-bottom: 0;

  @media (min-width: $breakpoint-desktop) {
    margin-right: 0;
  }
}

.product-line__title {
  @include font-default;
  display: flex;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 71px;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 30px;
  color: $color-title;


  @media (min-width: $breakpoint-tablet) {
    font-size: 36px;
    padding: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.product-line__text {
  @include font-alt;
  padding: 0;
  padding-bottom: 21px;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  color: $color-content;

  @media (min-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    border-bottom: none;
    margin-bottom: 56px;
    width: 375px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 462px;
    margin-bottom: 31px;
  }
}

.product-line__item--pro .product-line__text {
  @media (min-width: $breakpoint-tablet) {
    width: 340px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 462px;
  }
}

.product-line__link {
  @include font-default;
  @include reset-link;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-title;

  &::after {
    content: "";
    display: block;
    align-self: center;
    width: 25px;
    height: 12px;
    margin-left: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      width: 34px;
      height: 12px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 24px;
    }
  }
}
