.promo-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 26px 20px 24px 20px;

  @media (min-width: $breakpoint-tablet) {
    width: 324px;
    padding: 55px 38px 40px 38px;
    outline: 1px solid $color-pinkish-grey;
    outline-offset: -1px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 245px;
  }

  &::before {
    content: "";
    width: 31px;
    height: 31px;
    margin-bottom: 23px;
    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;

    @media (min-width: $breakpoint-tablet) {
      width: 61px;
      height: 61px;
      margin-bottom: 48px;
      background-image: url("../img/icon-plus.svg");
    }
  }
}


.promo-block__title {
  @include font-default;
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: $color-title;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    width: 135px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
  }
}

.promo-block__slogan {
  @include font-alt;
  display: block;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: $color-title;

  @media (min-width: $breakpoint-tablet) {
    width: 167px;
    margin-bottom: 83px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}

.promo-block__button {
  width: 100%;
}
