.slider {
  @media (min-width: $breakpoint-tablet) {
    padding-top: 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 50%;
    padding-top: 27px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
  padding-bottom: 36px;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 12px;
    padding-bottom: 69px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 36px;
    padding-bottom: 66px;
  }
}

.slider__toggle {
  @include font-default;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    padding: 5px 0;
    font-size: 20px;
    border-bottom: 1px dotted rgba($color: $color-title, $alpha: 0.23);
  }

  @media (min-width: $breakpoint-desktop) {
    z-index: 10;
  }
}

.slider__scale {
  position: relative;
  align-self: center;
  width: 84px;
  height: 14px;
  margin-right: 18px;
  margin-left: 19px;
  background-color: $color-bg;
  border: solid 1px $color-pinkish-grey;
  border-radius: 6px;

  @media (min-width: $breakpoint-tablet) {
    width: 428px;
    height: 6px;
    margin-right: 21px;
    margin-left: 23px;
    background-color: $color-pinkish-grey;
    border-radius: 2.5px;
  }
}

.slider__toddler {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  background-color: $color-design;
  border-radius: 3px;

  @media (min-width: $breakpoint-tablet) {
    top: -16px;
    left: 50%;
    width: 34px;
    height: 34px;
    margin-left: -16px;
    background-image: radial-gradient($color-design 0, $color-design 4px, $color-bg 5px, $color-bg 100%);
    border: 1px solid $color-pinkish-grey;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  &:hover {
    @media (min-width: $breakpoint-tablet) {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &:active {
    @media (min-width: $breakpoint-tablet) {
      border: 2px solid $color-design;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.slider__slide {
  margin-bottom: 32px;

  @media (min-width: $breakpoint-tablet) {
    position: relative;
    width: 690px;
    margin: 0 auto;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 650px;
  }
}

.slider__image {
  @media (min-width: $breakpoint-tablet) {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 690px;
    height: 517px;
    overflow: hidden;
  }

  &--after {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      position: relative;
      left: 50%;
      display: flex;
      width: 50%;

      img {
        margin-left: -50%;
      }
    }

    @media (min-width: $breakpoint-desktop) {
      img {
        margin-left: -365px;
      }
    }
  }

  &--before {
    @media (min-width: $breakpoint-tablet) {
      position: absolute;
      width: 50%;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 650px;
      background-image: linear-gradient($color-bg 0, $color-bg 190px, $color-bg-alt 190px, $color-bg-alt 100%);

      img {
        margin-left: -40px;
      }
    }
  }

  img {
    width: 320px;
    height: 240px;

    @media (min-width: $breakpoint-tablet) {
      width: 690px;
      max-width: none;
      height: 517px;
    }
  }
}
