.social-links {
  min-height: 64px;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;

  @media (min-width: $breakpoint-tablet) {
    border: none;
    width: 165px;
  }
}

.social-links__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-links__item {
  margin-right: 35px;

  @media (min-width: $breakpoint-tablet) {
    margin-right: 28px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social-links a {
  @include reset-link;

  &:hover {
    svg {
      fill: $color-design;
    }
  }

  &:active {
    opacity: 0.3;
  }
}


.social-links__vk {
  width: 22px;
  height: 12px;

  @media (min-width: $breakpoint-tablet) {
    width: 30px;
    height: 16px;
  }
}

.social-links__insta {
  width: 17px;
  height: 17px;

  @media (min-width: $breakpoint-tablet) {
    width: 23px;
    height: 23px;
  }
}

.social-links__fb {
  width: 10px;
  height: 19px;

  @media (min-width: $breakpoint-tablet) {
    width: 14px;
    height: 28px;
  }
}
