.social-links {
  display: flex;
  justify-content: center;
  min-height: 64px;
  padding-right: 20px;
  padding-left: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $breakpoint-tablet) {
    width: 165px;
    border: none;
  }
}

.social-links__list {
  @include reset-list;
  margin: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-links__item {
  margin-right: 35px;

  @media (min-width: $breakpoint-tablet) {
    margin-right: 28px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social-links a {
  @include reset-link;
}

.social-links__item svg {
  fill: $color-brownish-grey;

  &:hover {
    fill: $color-design;
  }

  &:active {
    opacity: 0.3;
  }
}


.social-links__vk-icon {
  width: 22px;
  height: 12px;

  @media (min-width: $breakpoint-tablet) {
    width: 30px;
    height: 16px;
  }
}

.social-links__insta-icon {
  width: 17px;
  height: 17px;

  @media (min-width: $breakpoint-tablet) {
    width: 23px;
    height: 23px;
  }
}

.social-links__fb-icon {
  width: 10px;
  height: 19px;

  @media (min-width: $breakpoint-tablet) {
    width: 14px;
    height: 28px;
  }
}
