html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: $breakpoint-mobile;

  @media (min-width: $breakpoint-tablet) {
    min-width: $breakpoint-tablet;
    width: $breakpoint-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    min-width: $breakpoint-desktop;
    width: $breakpoint-desktop;
  }

  margin: 0 auto;
}
