@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin reset-link {
  display: block;

  text-decoration: none;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-default {
  font-weight: normal;
  font-family: "Oswald",
    "Arial",
    sans-serif;
  font-stretch: normal;
}

@mixin font-alt {
  font-weight: normal;
  font-family: "Arial",
    sans-serif;
  font-stretch: normal;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin side-padding {
  padding-right: $side-padding-mobile;
  padding-left: $side-padding-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding-right: $side-padding-tablet;
    padding-left: $side-padding-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-right: $side-padding-desktop;
    padding-left: $side-padding-desktop;
  }
}
