//Цвета
$color-black: #000000;
$color-black-two: #222222;
$color-black-three: #111111;
$color-greyish-brown: #444444;
$color-brownish-grey: #666666;
$color-pinkish-grey: #cdcdcd;
$color-pinkish-grey-two: #bababa;
$color-white: #ffffff;
$color-white-two: #f2f2f2;
$color-white-three:#ededed;
$color-white-four:#eaeaea;
$color-white-five:#ebebeb;
$color-leaf: #68b738;
$color-green: #5eaa2f;
$color-peachy-pink: #ff8282;

$color-design: $color-leaf; //Цвет оформления (тема)
$color-bg: $color-white; //Цвет фона
$color-bg-alt: $color-white-two; //Дополнительный цвет фона
$color-content: $color-greyish-brown; //Цвет текстового контента
$color-title: $color-black-three; //Цвет заголовков и пунктов меню
$color-label: $color-black-two; //Цвет меток формы
$color-text-alt: $color-white; //Цвет шрифта для цветных элементов

$breakpoint-mobile:320px; //брейкпоинт планшета
$breakpoint-tablet:768px; //брейкпоинт планшета
$breakpoint-desktop:1300px; //брейкпоинт десктопа

$side-padding-mobile:20px; //боковые отступы в блоках
$side-padding-tablet:30px;
$side-padding-desktop:40px;
